<div class="row">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" required />
      </div>
      <span style="color: red;" *ngIf="(registerFormControl.title.dirty
        && registerFormControl.title.errors)">
        Field is required
      </span>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="description" required></textarea>
      </div>
      <span style="color: red;" *ngIf="(registerFormControl.description.dirty
        && registerFormControl.description.errors)">
        Field is required
      </span>
      <br />

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Add Post</button>
      </div>
    </form>
  </div>
</div>
